.cart-footer.ui-footer {
    text-shadow: none;
    color: #ffffff;
    background: white;
}
.ui-header-fixed, .ui-footer-fixed {
    left: 0;
    right: 0;
    width: 100%;
    position: fixed;
    z-index: 1000;
    bottom: -1px;
    padding-bottom: 1px;
}
.cart-footer.ui-footer .checkout-button-container {
    position: relative;
}
.cart-footer.ui-footer .checkout-button {
    margin: 10px;
    padding: 10px 0px;
    font-size: 15px;
    font-weight: bold;
    width: calc(100% - 20px);
}
.orange-button {
    border-radius: 3px;
    font-weight: bold;
    text-align: center;
    text-shadow: none;
    background-color: #ea9c51;
    color: #ffffff;
    cursor: pointer;
}
.done-btn {
  background-color: #8dd9bf;
}
.ui-btn {
    font-size: 16px;
    margin: .5em 0;
    padding: .7em 1em;
    display: block;
    position: relative;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.ui-btn-icon-right {
    padding-right: 2.5em;
}
.ui-mobile label, .ui-controlgroup-label {
    display: block;
    margin: 0 0 .4em;
}
.ui-mobile label, div.ui-controlgroup-label {
    font-weight: normal;
    font-size: 16px;
}
.ui-input-text, .ui-input-search {
    margin: .5em 0;
    border-width: 1px;
    border-style: solid;
}
.ui-input-text {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    font-size: 15px;
    margin: 0px;
    text-shadow: none !important;
    border-color: #ccc !important;
    border-radius: 3px;
}
.ui-body-a, .ui-page-theme-a .ui-body-inherit, .ui-bar-a .ui-body-inherit, .ui-body-a .ui-body-inherit, .ui-group-theme-a .ui-body-inherit, .ui-panel-page-container-a {
    background: #fff;
    border-color: #ddd;
    color: #333;
    text-shadow: 0 1px 0 #f3f3f3;
}
.ui-input-text input, .ui-input-search input, textarea.ui-input-text {
    padding: .4em;
    line-height: 1.4em;
    display: block;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    outline: 0;
}
.ui-input-text input, .ui-input-search input {
    margin: 0;
    min-height: 2.2em;
    text-align: left;
    border: 0;
    background: transparent none;
    -webkit-appearance: none;
    -webkit-border-radius: inherit;
    border-radius: inherit;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
}
.ui-select {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    position: relative;
}
.ui-select .ui-btn>span:not(.ui-li-count) {
    display: block;
    text-overflow: ellipsis;
    overflow: hidden !important;
    white-space: nowrap;
}
.ui-select .ui-btn select {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 1.5em;
    min-height: 100%;
    height: 3em;
    max-height: 100%;
    outline: 0;
    -webkit-border-radius: inherit;
    border-radius: inherit;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
    filter: Alpha(Opacity=0);
    opacity: 0;
    z-index: 2;
}
.ui-select .ui-btn {
    margin: 0;
    opacity: 1;
    -webkit-border-radius: 0px !important;
        -moz-border-radius: 0px !important;
        border-radius: 0px !important;
        -webkit-box-shadow: none !important;
        -moz-box-shadow: none !important;
        box-shadow: none !important;
}
.ui-page-theme-a .ui-btn, .ui-bar-a .ui-btn, .ui-body-a .ui-btn, .ui-group-theme-a .ui-btn, .ui-btn.ui-btn-a, .ui-page-theme-a .ui-btn:visited, .ui-bar-a .ui-btn:visited, .ui-body-a .ui-btn:visited, .ui-group-theme-a .ui-btn:visited, .ui-btn.ui-btn-a:visited {
    background: #f6f6f6;
    border-color: #ddd;
    color: #333;
    text-shadow: 0 1px 0 #f3f3f3;
}
.blue-button {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-weight: bold;
    text-align: center;
    text-shadow: none;
    background-color: #8dd9bf;
    color: #ffffff;
    cursor: pointer;
}
#shippingPage {
  margin-top: 64px;
  caret-color: rgb(0, 150,136);
}
.mobile-cart-shipping-page {
    color: #555
}

.mobile-cart-shipping-page #ship-to-container .ship-to-text {
    display: inline-block;
    font-weight: bold;
    font-size: 16px;
    padding: 10px
}

.mobile-cart-shipping-page #ship-to-container .cancel-link {
    display: inline-block;
    float: right;
    text-decoration: underline;
    font-size: 12px;
    color: #a8a8a8;
    padding: 10px
}

.mobile-cart-shipping-page #required-text {
    font-size: 12px;
    display: block;
    margin: .4em 0 .4em;
    color: rgb(100,100,100);
}

.mobile-cart-shipping-page .address-form {
    padding: 10px;
    margin-bottom: 60px;
}

.mobile-cart-shipping-page .step-text {
    font-size: 11px;
    font-weight: bold;
    color: #8dd9bf
}

.mobile-cart-shipping-page .form-row {
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-bottom: 10px
}

.mobile-cart-shipping-page .form-row .full-width-input {
    width: 100%
}

.mobile-cart-shipping-page .country-select,.mobile-cart-shipping-page .state-select {
    color: #777;
    font-size: 13px
}

.mobile-cart-shipping-page .table-form-row {
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 5px
}

.mobile-cart-shipping-page .half-width-input {
    width: 50%
}

.mobile-cart-shipping-page .half-width-input input,.mobile-cart-shipping-page .half-width-input select {
    width: 100%
}

.mobile-cart-shipping-page .half-width-input.left-cell {
    padding-right: 2px;
    vertical-align: middle
}

.mobile-cart-shipping-page .half-width-input.right-cell {
    padding-left: 2px;
    vertical-align: middle
}

.mobile-cart-shipping-page .error-container {
    border: 1px solid #dddddd;
    padding: 5px;
    font-size: 13px;
    font-weight: bold;
    margin-top: 15px;
    color: #e77c88
}

.mobile-cart-shipping-page .save-address-button {
    padding: 10px;
    font-size: 13px;
    width: 100%;
    margin-top: 15px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.mobile-cart-shipping-page .loading-view {
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -50px 0 0 -125px;
    width: 250px;
    height: 100px;
    text-align: center;
    font-size: 14px
}
.ui-page-theme-a .ui-btn:focus, .ui-bar-a .ui-btn:focus, .ui-body-a .ui-btn:focus, .ui-group-theme-a .ui-btn:focus, .ui-btn.ui-btn-a:focus, .ui-page-theme-a .ui-focus, .ui-bar-a .ui-focus, .ui-body-a .ui-focus, .ui-group-theme-a .ui-focus, .ui-btn-a.ui-focus, .ui-body-a.ui-focus {
    -webkit-box-shadow: 0 0 12px #38c;
    -moz-box-shadow: 0 0 12px #38c;
    box-shadow: 0 0 12px #38c;
}
.ui-input-text input {
  font-size: 15px;
  background-color: rgb(247,247,247);
  font-weight: 100;
}
/*.ui-icon-carat-d:after {
    background-image: url(//main.cdn.wish.com/2cf14819275a/img/msite/jquery-images/icons-png/carat-d-white.png?v=13);
    right: .5625em;
    top: 50%;
    margin-top: -11px;
    content: "";
    position: absolute;
    display: block;
    width: 22px;
    height: 22px;
    background-color: rgba(0,0,0,0.3);
    background-position: center center;
    background-repeat: no-repeat;
    // -webkit-border-radius: 1em;
    // border-radius: 1em;
}*/
#select-67-button {
  border: 1px solid #ddd;
  padding: .4em;
  font-size: 15px;
  border-radius: 3px !important;
  min-height: 2.3em;
  text-align: left;
}
#countrySelect {
  line-height: 16px;
  color: #000;
}
.blue-button.touched {
    background-color: #1BAAE2 !important;
}
.save-address-button:active {
  background-color: #1BAAE2 !important;
}
.state-input {
  line-height: 16px !important;
}
